<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Toolkit.Controls" version="2.1.0" targetFramework="win81" />
  <package id="GoogleAnalyticsSDK" version="1.2.12" targetFramework="win81" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="win81" />
</packages>